body{
	background-color: black;
	color: white;
}

h1{
	background-color: white;
	color: black;
}

h2{
	background-color: Slategrey;
	color: yellow;
	text-align: center;
}

p, li{
	font-size: 12px;
	color: white;
}

ol{
	font-size: 12px;
}

ul{
	font-size: 12px;
}

a{
	color: white;
}

a:hover{
	color: black;
	background-color: yellow;
}



